/* Copyright 2023 The TensorFlow Authors. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

NOTICE: This file has been modified from the original version,
adding jinja templated variables, so the project can be used
in code generation.
==============================================================================*/

#ifndef TENSORFLOW_LITE_MICRO_EXAMPLES_MICRO_SPEECH_MICRO_MODEL_SETTINGS_H_
#define TENSORFLOW_LITE_MICRO_EXAMPLES_MICRO_SPEECH_MICRO_MODEL_SETTINGS_H_

// The following values are derived from values used during model training.
// If you change the way you preprocess the input, update all these constants.
constexpr int kMaxAudioSampleSize = {{ max_audio_sample_size }};
constexpr int kAudioSampleFrequency = {{ extractor.params.sample_rate }};
constexpr int kFeatureSize = {{ extractor.params.filter_bank_number_of_channels }};
constexpr int kFeatureCount = {{ extractor.n_windows }};
constexpr int kFeatureElementCount = (kFeatureSize * kFeatureCount);
constexpr int kFeatureStrideMs = {{ extractor.params.window_stride_ms }};
constexpr int kFeatureDurationMs = {{ extractor.params.window_size_ms }};

// Variables for the model's output categories.
constexpr int kCategoryCount = {{ labels|length }};
constexpr const char* kCategoryLabels[kCategoryCount] = {
  {{ labels|map("tojson")|join(', ') }}
};


#endif  // TENSORFLOW_LITE_MICRO_EXAMPLES_MICRO_SPEECH_MICRO_MODEL_SETTINGS_H_
